<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Document</title>
</head>

<body>

    <h1>Search for an Artist on Spotify</h1>
    <form action="/album" method="POST">
        <article>
            <label for="artista">Artista:</label>
            <input type="text" id="artista" name="artista">
            <input type="submit" value="Enviar">
        </article>
    </form>

</body>

</html>